div
{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
h1{
    background-color: blanchedalmond;
}

#one {
background-color: bisque;
border-width: 5px;
border-color: black;
border-style: dotted;
box-sizing: border-box;
padding: 20px;
}


#two {
    background-color: bisque;
    border-width: 5px;
    border-color: rgb(136, 10, 10);
    border-style: dotted;
    box-sizing: border-box;
    padding: 02%;
    margin: 20px;
    }

    
#three {
    background-color: bisque;
    border-width: 5px;
    border-color: rgb(42, 192, 37);
    border-style: dotted;
    box-sizing: border-box;
    border-radius: 10px 100px /120px;
    padding-left: 10;
    }

    h1{
        background-color: bisque;
        display: inline;
        width: 50px;
        background-color: rgb(39, 26, 112);
        padding: 20px;
        margin: 10px;
    }

    spam{
        width: 50px;
        background-color: aqua;
        padding: 20px;
        margin: 10px;
    }

    h2{
        font-size: 2m;
        display: inline-block ;
        width: 50px;
        background-color: aqua;
        padding: 20px;
        margin: 10px;
            
    }