div
{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
h1{
    background-color: blanchedalmond;
}

#one {
background-color: bisque;
border-width: 5px;
border-color: black;
border-style: dotted;
box-sizing: border-box;
}


#two {
    background-color: bisque;
    border-width: 5px;
    border-color: rgb(136, 10, 10);
    border-style: dotted;
    box-sizing: border-box;
    }

    
#three {
    background-color: bisque;
    border-width: 5px;
    border-color: rgb(42, 192, 37);
    border-style: dotted;
    box-sizing: border-box;
    border-radius: 10px 100px /120px;
    }