/* *{
    background-color: pink;
} */

body{
    background-color: #f1faee;
}
h1,h2{
    color: darkgoldenrod;
}
button
{
    font-size: 30px;
    background-color: #07bb67;

}
#signup {
background-color: black;
color: crimson;
}

.tag{
    color: beige;
    background-color: aquamarine;
}

.post a {
color: rgb(197, 216, 23);
}

footer a {
    color: blue;
}

h2+button{
color: maroon;
}
footer > a {
    color: brown;
}
input[type="password"]{
    color: aqua;
}

button:hover{
    background-color: brown;
}

button:active{
    background-color: #f1faee;
}